<template>
  <div class="todos">
    <h2 style="text-align: center">Ceci est ma super Todo List</h2>
    <AddTodo :edit-todo="editTodo" @add="add" @update="update" :todos="todos" />
    <div class="flex mt-3">
      Filtrer par responsable
      <select v-model="filtreResponsable"
              class="form-select appearance-none
      block
      w-25
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      >
        <option value="" selected>Sélectionnez un responsable</option>
        <option v-for="responsable in responsables" :key="responsable.id" :value="responsable.name">{{ responsable.name }}</option>
      </select>
    </div>
    <div class="flex mt-3">
      Filtrer par état
      <select v-model="filtreEtat"
              class="form-select appearance-none
      block
      w-25
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      >
        <option value="" selected>Sélectionnez un état</option>
        <option :value="0">A faire</option>
        <option :value="1">En cours</option>
        <option :value="2">Terminé</option>
      </select>
    </div>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                  Titre
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                  Heures
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                  Responsable
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                  Etat
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                  <input v-model="checked" @click="checkAll" type="checkbox">
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">

                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center cursor-pointer">
                  <img  @click="deleteTodos" style="width: 30px;" src="@/assets/trash.jpg" alt="">
                </th>
              </tr>
              </thead>
              <tbody>
              <Todo :checked="checked" v-for="(todo) in todosFiltered" :key="todo.id" :todo-props="todo"
                    @changeState="changeState"
                    @delete="deleteTodo"
                    @check="checkTodo"
                    @edit="edit"
              />
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <p>
      Il y a actuellement {{ todosFiltered.length }}
      {{ todosFiltered.length > 1 ? "tâches" : "tâche" }}
    </p>
  </div>
</template>

<script>
import Todo from "@/components/Todo";
import AddTodo from "@/components/AddTodo";
import responsablesData from "@/helpers/responsables";
import {mapState} from "vuex";

export default {
  name: "HomeView",
  components: {
    AddTodo,
    Todo,
  },
  data() {
    return {
      checkboxes: new Set([]),
      checked: false,
      editTodo: null,
      filtreResponsable: "",
      filtreEtat: ""
    };
  },
  computed: {
    responsables() {
      return responsablesData
    },
    ...mapState(["todos"]),
    todosFiltered () {
      return this.$store.getters.todosFiltered(
          {filtreResponsable: this.filtreResponsable, filtreEtat: this.filtreEtat}
      )
    },
  },
  methods: {
    update(todo){
      this.$store.dispatch('updateTodo', todo)
      this.editTodo = null;
    },
    edit(id){
      this.editTodo = id
    },
    checkAll(){
      !this.checked ? this.todosFiltered.map(t => {
        this.checkboxes.add(t.id)
      }) : this.checkboxes = new Set([])
    },
    add(todo) {
      this.$store.dispatch('addTodo', todo)
    },
    deleteTodos() {
      this.$store.dispatch('deleteTodos', this.checkboxes)
      this.checkboxes = new Set([]);
      this.checked = false;
    },
    deleteTodo(id) {
      this.$store.dispatch('deleteTodo', id)
    },
    changeState({state, id}) {
      this.$store.dispatch('changeState', {stateTodo: state, id})
    },
    checkTodo(id){
      if(this.checkboxes.has(id)){
        this.checkboxes.delete(id)
      } else {
        this.checkboxes.add(id)
      }
    }
  },
};
</script>
<style>
.todos {
  width: 70%;
  margin: auto;
}
</style>
