<template>
  <tr class="bg-gray-100 border-b">
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ todoProps.title }}</td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
      {{ todoProps.hours }}
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
      {{ todoProps.responsable }}
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
        @click="changeState"
        :class="{ vert: todoProps.state === 0,jaune: todoProps.state === 1, rouge: todoProps.state === 2 }">
      {{ states[todoProps.state] }}
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
      <input @click="$emit('check', todoProps.id)" :checked="checked" type="checkbox">
    </td>
    <td @click="$emit('edit', todoProps.id)" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap cursor-pointer">
      Modifier
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap cursor-pointer">
      <img @click="deleteTodo" style="width: 30px;" src="@/assets/trash.jpg" alt="">
    </td>
  </tr>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    todoProps: {
      required: true
    },
    checked: {
      required: true
    }
  },
  data() {
    return {
      states: {
        0: "A faire",
        1: "En cours",
        2: "Terminé",
      },
    };
  },
  methods: {
    changeState() {
      this.$emit('changeState', {state: this.todoProps.state === 2 ? 0 : this.todoProps.state + 1, id: this.todoProps.id})
    },
    deleteTodo(){
      this.$emit('delete', this.todoProps.id)
    },
  },
};
</script>

<style scoped>
.vert{
  border: green;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
}
.jaune{
  border: yellow;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
}
.rouge{
  border: darkred;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
}
</style>
